body{
    padding: 0;
    margin: 0;
    /*pading del tamaño del navbar*/
    padding-top: 100px;
    background-color: #121212;
}
p{
    color: #fbf1c7;
}
h1{
    color: #fbf1c7;
}
h2{
    color: #fbf1c7;
}
h3{
    color: #fbf1c7;
}

nav{
    /*ver aqui position*/
    position: fixed; 
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    background-color: #191a19;
    padding: 0 5%;
}
nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem; 
    color: #fbf1c7;
    font-weight: bold;
}
nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links li{
    list-style: none;
}
nav .links a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    /* font-size */
    color: #fbf1c7;
}
nav .links a:hover{
    color: #d65d0e;
}
#nav-toggle{
    position: absolute;
    top: -100px;
}
nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fbf1c7;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;;
}

.hero{
    background-image: linear-gradient(to bottom, #121212, #191a1984,#121212), url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}
.hero-content{
    margin: 5em;
}
.h1-hero{
    font-size: 3rem;
    text-shadow: 1px 1px #a1b0b8;
}
.p-hero{
    font-size: 1.5rem;
    text-shadow: 1px 1px #a1b0b8;
    padding: 0.25em;
}

.texto-hero{
    padding-top: 2em;
    padding-bottom: 2em;
}

.contenido-inicial{
    background-color: #191a19;
}
.texto-grande-cont-inicial{
    margin: 5em;
    text-align: center;
    padding: 3.5rem;
}
.texto-chico-cont-inicial{
    margin: 1em;
    text-align: center;
    padding: 3.5rem;
}
.h2-contenido-inicial{
    font-size: 2rem;
    font-weight: bold;
}
.p-contenido-inicial{
    font-size: 1.5rem;
}
.servicios{
    margin: 1.5em;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));   
}
.card{
    background-color: #191a19;
    border-radius: 0.5em;
    position: relative;
}
.card:hover{
    transform: translateY(-1%);
}
.h3-servicios{
    font-size: 1.4rem;
}
.p-servicios{
    font-size: 1.2rem;
}
.p-footer{
    font-size: 1.1rem;
    text-align: center;
    padding-top: 2em;
}
.p-valor-servicios{
    text-align: center;
    font-size: 1.1rem;
}
.img-servicios{
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 0.5em 0.5em 0em 0em;
}
.contenido-servicios{
    margin: 1.5rem;
}
.h3-servicios{
    text-align: center;
}
.botones-contacto{
    display: block;
    text-align: center;
    padding: 1.5em;
    font-size: 1.25em;
}
a.button{
    text-decoration: none;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:.16em solid rgba(255,255,255,0);
    border-radius:3em;
    box-sizing: border-box;
    color:#fbf1c7;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.50);
    text-align:center;
    transition: all .2s;
    background-color: #fe8019;
    width: 9rem;
}
a.button:hover{
    background-color: #d65d0e;
}
footer{
    background-color: #191a19;
    height: 150px;
}

/*Fonts*/
@media screen and (320px <= width <= 640px){
    p{
        font-size: 1.3rem !important;
    }
    h1{
        font-size: 2.2rem !important;
    }
    h2{
        font-size: 1.9rem !important;
    }
    h3{
        font-size: 1.5rem !important;
    } 
}
@media screen and (320px <= width <= 640px){
    .servicios{
        margin: 1.5em;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));   
    }   
}
@media screen and (width < 820px){
    .texto-grande-cont-inicial{
        display: none;
    }
}

@media screen and (820px <= width){
    .texto-chico-cont-inicial{
        display: none;
    }
}
@media screen and (width <1280px){
    
}
@media screen and (max-width: 1500px){
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .links a{
        font-size: 1.3rem;
    }
    nav :checked ~ .links {
        bottom: 0;
    }
    nav .icon-burger{
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2){
        opacity: 0;
    }
}
@media screen and (2560px < width ){
    p{
        font-size: 2rem !important;
    }
    h1{
        font-size: 5rem !important;
    }
    h2{
        font-size: 3.5rem !important;
    }
    h3{
        font-size: 2.3rem !important;
    }
    nav .links a{
        font-size: 2rem;
    }
    nav .logo{
        font-size: 3rem;
    }
    .botones-contacto{
        font-size: 2em;
    }
    a.button{
        width: 16rem;
    } 
    .servicios{
        margin: 1.5em;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));   
    }  
}